
.row-centered{
    text-align: center;
    color: blueviolet;
}

.row{
    height: 200px;
    border-style: dashed;
}

span{
    text-align: center;
}

h1{
    text-decoration: underline;
}

body{ /*backround image not displaying*/
    background-image: url('assets/images/mikly-way-2695569_1920.jpg');
}